
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basic HTML</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <form action="/checkout" method="POST">
      <label for="product">Product:</label>
      <input type="text" id="product" name="product">
      <input type="submit" value="Submit">
    </form>


  </body>
</html>
